.App {
  text-align: center;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 150px;
}

a {
  color: black !important;
  text-decoration: none !important;
}
.component {
  margin: 60px;
}

/* SEARCH */
.form-control {
  border-radius: 0 !important;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 0;
}
.search-input {
  border: 1px black solid !important;
  font-size: 22px !important;
  padding: 10px 20px !important;
}
.search-btn {
  background-color: black !important;
  color: white !important;
  width: 200px !important;
  font-size: 22px !important;
  border: none !important;
  margin-left: 10px !important;
}

/* HERO */
.buy-sell-background {
  /* background-image: url("https://humanperformanceandhealth.org/wp-content/uploads/2019/10/header-image-1.jpg");
  background-size: cover; */
  background: linear-gradient(90deg, rgba(158,23,246,1) 0%, rgba(91,10,251,1) 42%, rgba(9,191,221,1) 100%);
  height: 250px;
  padding: 100px 50px;
}
.buy-sell-title {
  color: white;
}
.buy-sell-btn {
  color: transparent;
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
}

/* SLIDER - CAROUSEL */
:root {
  --color-primary: #6B7A8F;
  --color-secondary: #101118;
  --color-accent: #1D1F2F;
  --color-focus: #6D64F7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

/* // =========================
// Global
// ========================= */

*, *:before, *:after {
  box-sizing: border-box;
}

/* #app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
} */



.visuallyhidden { 
  clip: rect(1px, 1px, 1px, 1px);  
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}


/* // =========================
// Icons
// ========================= */

.icon {
  fill: var(--color-primary);
  width: 100%;
}


/* // =========================
// Buttons
// ========================= */

/* .slide_btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
} */
  .slide_btn:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }
  
  .slide_btn:active {
    transform: translateY(1px);
  }



/* // =========================
// Slider controls
// ========================= */

.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 18rem);
  left: 45%;
  width: 10%;

}
  .slide_btn {
    --size: 3rem;
    
    align-items: center;
    background-color: white;
    border: 3px solid transparent;
    color: black;
    display: flex;
    position: absolute;
    top: 210px;
    /* height: var(--size); */
    padding: 5px 15px;
    /* width: var(--size); */
  }
    
    .slide_btn:focus {
      border-color: var(--color-focus);
      outline: none;
    }
        
    .btn--previous  {
      transform: rotate(180deg);
    }
  



/* // =========================
// Slider
// ========================= */

.slider {
  /* --slide-size: 25.65vmin; */
  /* --slide-size: 25.65vmin; */
  --slide-margin: 1vmin;
  
  height: var(--slide-size);
  
  margin: 40px 0px;
  position: relative;
  /* width: var(--slide-size); */
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  /* margin: 0 auto; */
  position: absolute;
  padding: 0;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  align-items: end;
}


/* // =========================
// Slide
// ========================= */

.slide {
  align-items: end;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  transition: 
    opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
}
  .slide--previous, .slide--next {    
  
      opacity: 0.5;
    }
  .slide--previous, .slide--next:hover {
    opacity: 0.5;
  }
  
  /* &--previous {
    cursor: w-resize;
    
    &:hover {
      transform: translateX(2%);
    }
  }
  
  &--next {
    cursor: e-resize;
    
    &:hover {
      transform: translateX(-2%);
    }
  }
} */

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  
  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: 
        scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }    
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 160%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;  
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
 
}

.slide__image {
  --d: 20;
  
  height: 110%;
  left: -5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition:
    opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;
  
  @media (hover: hover) {
    .slide--current & {      
      transform: 
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        ); 
    }
  }
}

.slide__headline {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: 75px;
  color: white!important;
  text-shadow: rgba(28, 27, 27, 0.812) 0px 3px 3px;
}

.slide__content {
  --d: 60;
  
  /* opacity: 0; */
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  align-items: end;
  /* visibility: hidden; */

  
  
 } 
 .slide--current  {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;
 }

 /* @media (hover: hover) {

      transform: 
        translate(
          calc(var(--x) / var(--d) * -1px),
          calc(var(--y) / var(--d) * -1px)
        );
    } */

/* // =========================
// Animations
// ========================= */

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}


.categories-div {
  position: relative;
  top: 400px;
}
.categories-links {
  font-size: 22px;
  line-height: 60px;
  margin-right: 20px;
  background-color: rgb(230, 230, 230);
  padding: 10px 25px;
  border-radius: 25px;
}
footer {
  height: 300px;
  background-color: rgb(230, 230, 230);
  position: relative;
  top: 500px;
  padding-top: 100px;
}
.footer-text {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

/* SINGLE PRODUCT */
.categories-single-product {
  position: relative;
  top: -350px;
}