.App {
  overflow: hidden;
  width: 100% !important;
}

nav {
  z-index: 9999;
}
.navbar {
  margin: 5px;
}
.logo {
  width: 150px;
}


a {
  color: black !important;
  text-decoration: none !important;
  font-size: 20px;
}
h2 {
  font-size: 23px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.user-name-nav {
  font-size: 22px;
  font-weight: 600;
}
.component {
  margin: 60px;
}

/* SEARCH */
.form-control {
  border-radius: 0 !important;
}
/* .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 0;
} */
.search-input {
  border: 0px rgb(186, 186, 186) solid !important;
  border-radius: 10px 0px 0px 10px!important;
  font-size: 22px !important;
  padding: 20px !important;
  background-color: white !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;}
.search-btn {
  background-color: #0057FF !important;
  color: white !important;
  width: 200px !important;
  font-size: 22px !important;
  border: none !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;  
  border-radius: 0px 10px 10px 0px !important;
  height: 73px;
}
.search-input:focus {
  outline: none!important;
  box-shadow: #0055ff48 0px 1px 22px !important;  ;
}
.div-search {
  display: flex;
  justify-content: center;
  padding: 0px 150px;
}

/* HERO */
.buy-sell-background {
  /* background-image: url("/public/agora-cover.jpg"); */
  /* background-size: cover; */
  /* background: linear-gradient(90deg, rgba(158,23,246,1) 0%, rgba(91,10,251,1) 42%, rgba(9,191,221,1) 100%); */
  height: 380px;
  padding: 100px 50px;
  border-radius: 10px;
}
.agora-image-cart {
  position: relative;
  bottom: 170px
}
.hero {
padding-top: 40px;
padding-bottom: 60px;
}
.buy-sell-title {
  color: black;
  font-size: 70px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.buy-sell-subtitle {
  color: black;
  text-align: center;
}

/* SLIDER - CAROUSEL */
:root {
  --color-primary: #6B7A8F;
  --color-secondary: #101118;
  --color-accent: #1D1F2F;
  --color-focus: #6D64F7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

/* // =========================
// Global
// ========================= */

*, *:before, *:after {
  box-sizing: border-box;
}

/* #app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
} */



.visuallyhidden { 
  clip: rect(1px, 1px, 1px, 1px);  
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}


/* // =========================
// Icons
// ========================= */

.icon {
  fill: var(--color-primary);
  width: 100%;
}


/* // =========================
// Buttons
// ========================= */


  .slide_btn:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }
  
  .slide_btn:active {
    transform: translateY(1px);
  }



/* // =========================
// Slider controls
// ========================= */

.slider__controls {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  
  /* position: absolute;
  top: calc(100% + 8rem);
  left: 45%;
  width: 10%; */

}
  .slide_btn {
    --size: 2rem;
    font-size: 20px;
    
    background-color: white;
    border: 3px solid transparent;
    color: black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 150px;
    height: var(--size);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    

  }
    
    .slide_btn:focus {
      border-color: var(--color-focus);
      outline: none;
    
      
    }
        
    .btn--previous  {
      transform: rotate(180deg);
      width: 100px;
   
    }
    .btn--next {
      width: 100px;
      z-index: 1
    }
  



/* // =========================
// Slider
// ========================= */

.slider {
  /* --slide-size: 25.65vmin; */
  /* --slide-size: 25.65vmin; */
  --slide-margin: 1vmin;
  overflow-x: hidden;
  width: 100%;
  height: var(--slide-size);
  margin: 40px 0px;
  position: relative;
  /* width: var(--slide-size); */
}

.slider__wrapper {
  display: flex;
  /* height: 100%; */
  justify-content: center;
  width: 100%;
  
  /* margin: 0 calc(var(--slide-margin) * -1); */
  /* margin: 0 auto; */
  /* HERE BELOW */
  /* position: absolute; */
  padding: 0;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  /* align-items: end; */
}


/* // =========================
// Slide
// ========================= */

.slide {
  align-items: end;
  color: white;
  display: flex;
  
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  /* opacity: 0.25; */
  position: relative;
  transition: 
    opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
}


.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  
  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: 
        scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }    
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 10px !important;
  height: 160%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;  
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
  filter: grayscale(20%);
}

.slide__image {
  --d: 20;
  height: 110%;
  left: -5%;
  object-fit: cover;
  /* opacity: 2; */
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition:
    opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;
  
  @media (hover: hover) {
    .slide--current & {      
      transform: 
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        ); 
    }
  }
}

.slide__headline {
  font-size: 30px;
  font-weight: 600;
  height: 65px;
  position: relative;
  top: 140px;
  color: white!important;
  text-shadow: rgba(28, 27, 27, 0.812) 0px 3px 3px;
  text-align: center;
}

.slide__content {
  --d: 60;
  
  /* opacity: 0; */
  padding: 50px;
  /* position: relative; */
  transition: transform var(--base-duration) var(--base-ease);
  align-items: end;
  /* visibility: hidden; */

 } 
 .slide--current  {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;
 }

 /* @media (hover: hover) {

      transform: 
        translate(
          calc(var(--x) / var(--d) * -1px),
          calc(var(--y) / var(--d) * -1px)
        );
    } */

/* // =========================
// Animations
// ========================= */

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}


.categories-div {
  /* position: relative;
  top: 400px; */
  margin-top: 50px;

}
.category-name {
  font-size: 22px;
  line-height: 30px;


}
.category-card {
  background-color: #F5F5F7;
  padding: 40px 35px !important;
  border-radius: 10px;
  justify-content: center!important;
}

.category-card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.05);
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0s ease;
}
.category-icon {
  width: 70px;
  

}
footer {
  height: 300px;
  background-color: #F5F5F7;
  /* position: relative; */
  /* top: 500px; */
  /* bottom: 0; */
  padding-top: 100px;
}
.footer-text {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

/* SINGLE PRODUCT */
.categories-single-product {
  /* position: relative;
  top: 150px; */
  
}
.product-details-div {
  margin-top: 50px !important;
}
.product-description {
  line-height: 1.5;
}
.buy-btn {
  border: none;
  background-color: #0057FF;
  color: white;
  padding: 10px 60px;
  font-size: 24px;
  border-radius: 5px;
}

button:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.02);
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0s ease;
}

.index-price-button {
  background-color: #0055ff28;
  color: #0057FF!important;
  font-weight: 500;
  padding: 5px 20px;
  font-size: 22px;
  border: 0;
  border-radius: 5px;
}
.index-price-button:hover {
  background-color:  #0057FF;
  color: white !important;
}

.subcategories {
  text-transform: capitalize;
}
.product-image-detail {
  border-radius: 10px;
  width: 550px;
}

.sold-by {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.687);
}
.seller-name-card {
  font-size: 18px;
  font-weight: 500;
}
.card {
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  width: 25rem;
  border: none !important;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.card:hover {

  z-index: 1;
  box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.02);
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0s ease;
}
.card-body {
  padding: 25px 35px !important;
}

.card-img-top{
  /* float: left; */
    width:  100px;
    height: 250px;
    object-fit: cover;
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.card-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.687);
  overflow: hidden !important;
  max-width: 55ch !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.edit-delete-btn{
    color: black !important;
    background-color: rgb(237, 237, 237);
    display: inline-block;
    padding: 5px 20px;
}
.view-product-btn {
  display: inline-block;
  padding: 5px 20px;
}

.add-product {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px 40px;
}
.change-password-button {
  border-radius: 5px;
}
.add-form {
  padding: 30px !important;
}
.full-width {
    width: 80%;
    position: relative;
    /* left: 50%;
    right: 50%; */
    /* margin-left: -50vw;
    margin-right: -50vw; */
    background-color: white!important;
    border: 1px solid grey !important;
    line-height: 45px;
    padding: 5px 20px;
    border-radius: 10px;
    
} 

.modal-content {
  padding: 20px;
}
.modal-header {
  justify-content: center !important;
}
.modal-dialog {
  text-align: center;
  vertical-align: middle;
  margin-top: 15% !important;
}
.modal-footer {
  justify-content: center !important;
}

/* RESPONSIVE */

@media (max-width: 964px) {
   .agora-image-cart {
    display: none;
  }
}

@media (max-width: 428px) {
 
  .buy-sell-title {
    font-size: 45px;
    margin-top: -10px;
  }
  .div-search {
    padding: 0px 10px !important;
  }
  .search-btn {
    width: 110px !important;
  }
}

.checkout-btn {
  border: none;
  background-color: black;
  color: white;
  padding: 2px 20px;
  font-size: 18px;
}

.remove-cart {
  background-color: black !important;
  color: white !important;
  border: 0 !important;
  padding: 2px 10px !important;
}

.stripe {
  background-color: rgb(229, 229, 229);
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}


.cart-product-image {
  margin-top: 30px;
  width: 130px;
  height: 100px;
  border-radius: 5px;
}
.cart-items-text {
  font-size: 17px;
}
.cart-div {
  padding: 2px 100px !important;
}

.stripe-card {
  padding: 20px;
  border: 2px solid gray;
  margin: 10px;
}

.stripe-btn {
  margin: 10px;
}

.disabled {
  background: linear-gradient(rgba(236, 236, 236, 0.8), rgba(190, 190, 190, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
}
.disabled-image {
opacity: 0.4;
}
.sold-item {
  position: absolute;
  bottom: 280px;
  left: 120px;
  font-size: 34px;
  font-weight: 600;
}
.sold-btn {
  background-color: grey;
}